body{
    background-color: antiquewhite;
    color: brown;
   
}
.navigation-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:#dc343a71;
    display: flex;
    justify-content: center; 
}
.nav-options li{
    display: inline;

}
.nav-options li a {
    text-decoration: none; 
color: black;
    text-align: center;
    padding: 20px 30px;
    display: inline-block;
    font-size: 30px;
    margin: 0 10px;
  }
.div{
    text-align: center;
}  
.home{
    text-align: center;
    margin: 20px;
}