body{
    background-color: antiquewhite;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.nav-options li{
    display: inline;
margin-right: 20px;    

}
.nav-options li a {
    text-decoration: none; 
  }